In [327]:
# Step 1: Import necessary libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

In [328]:

# Step 2: Load the dataset
file_path = "C:/Users/lenovo/OneDrive/Desktop/slutheor/task2/new_retail_data.csv"  # Update this path if needed
df = pd.read_csv(file_path)

# Display first few rows
print("Original Dataset:")
print(df.head())

Original Dataset:
   Transaction_ID  Customer_ID                 Name                Email  \
0       8691788.0      37249.0  Michelle Harrington    Ebony39@gmail.com
1       2174773.0      69749.0          Kelsey Hill     Mark36@gmail.com
2       6679610.0      30192.0         Scott Jensen    Shane85@gmail.com
3       7232460.0      62101.0        Joseph Miller     Mary34@gmail.com
4       4983775.0      27901.0        Debra Coleman  Charles30@gmail.com

          Phone                      Address        City            State  \
0  1.414787e+09            3959 Amanda Burgs    Dortmund           Berlin
1  6.852900e+09           82072 Dawn Centers  Nottingham          England
2  8.362160e+09            4133 Young Canyon     Geelong  New South Wales
3  2.776752e+09  8148 Thomas Creek Suite 100    Edmonton          Ontario
4  9.098268e+09    5813 Lori Ports Suite 269     Bristol          England

   Zipcode    Country  ...  Total_Amount Product_Category  Product_Brand  \
0  77985.0    Germany  ...    324.086270         Clothing           Nike
1  99071.0         UK  ...    806.707815      Electronics        Samsung
2  75929.0  Australia  ...   1063.432799            Books  Penguin Books
3  88420.0     Canada  ...   2466.854021       Home Decor     Home Depot
4  48704.0         UK  ...    248.553049          Grocery         Nestle

  Product_Type   Feedback  Shipping_Method Payment_Method Order_Status  \
0       Shorts  Excellent         Same-Day     Debit Card      Shipped
1       Tablet  Excellent         Standard    Credit Card   Processing
2   Children's    Average         Same-Day    Credit Card   Processing
3        Tools  Excellent         Standard         PayPal   Processing
4    Chocolate        Bad         Standard           Cash      Shipped

   Ratings           products
0      5.0     Cycling shorts
1      4.0         Lenovo Tab
2      2.0   Sports equipment
3      4.0      Utility knife
4      1.0  Chocolate cookies

[5 rows x 30 columns]

In [329]:

# Step 3: Handle missing values
df.fillna(method='ffill', inplace=True)  # Forward fill missing values

C:\Users\lenovo\AppData\Local\Temp\ipykernel_18352\1623045438.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)  # Forward fill missing values

In [330]:
print("\nStep 3: After Handling Missing Values")
print(df.isnull().sum())  # Show count of missing values per column

Step 3: After Handling Missing Values
Transaction_ID      0
Customer_ID         0
Name                0
Email               0
Phone               0
Address             0
City                0
State               0
Zipcode             0
Country             0
Age                 0
Gender              0
Income              0
Customer_Segment    0
Date                0
Year                0
Month               0
Time                0
Total_Purchases     0
Amount              0
Total_Amount        0
Product_Category    0
Product_Brand       0
Product_Type        0
Feedback            0
Shipping_Method     0
Payment_Method      0
Order_Status        0
Ratings             0
products            0
dtype: int64

In [331]:
df.duplicated().sum()

3

In [332]:

# Step 4: Remove duplicate rows
df.drop_duplicates(inplace=True)

print("\nStep 4: After Removing Duplicates")
print(df.head())

Step 4: After Removing Duplicates
   Transaction_ID  Customer_ID                 Name                Email  \
0       8691788.0      37249.0  Michelle Harrington    Ebony39@gmail.com
1       2174773.0      69749.0          Kelsey Hill     Mark36@gmail.com
2       6679610.0      30192.0         Scott Jensen    Shane85@gmail.com
3       7232460.0      62101.0        Joseph Miller     Mary34@gmail.com
4       4983775.0      27901.0        Debra Coleman  Charles30@gmail.com

          Phone                      Address        City            State  \
0  1.414787e+09            3959 Amanda Burgs    Dortmund           Berlin
1  6.852900e+09           82072 Dawn Centers  Nottingham          England
2  8.362160e+09            4133 Young Canyon     Geelong  New South Wales
3  2.776752e+09  8148 Thomas Creek Suite 100    Edmonton          Ontario
4  9.098268e+09    5813 Lori Ports Suite 269     Bristol          England

   Zipcode    Country  ...  Total_Amount Product_Category  Product_Brand  \
0  77985.0    Germany  ...    324.086270         Clothing           Nike
1  99071.0         UK  ...    806.707815      Electronics        Samsung
2  75929.0  Australia  ...   1063.432799            Books  Penguin Books
3  88420.0     Canada  ...   2466.854021       Home Decor     Home Depot
4  48704.0         UK  ...    248.553049          Grocery         Nestle

  Product_Type   Feedback  Shipping_Method Payment_Method Order_Status  \
0       Shorts  Excellent         Same-Day     Debit Card      Shipped
1       Tablet  Excellent         Standard    Credit Card   Processing
2   Children's    Average         Same-Day    Credit Card   Processing
3        Tools  Excellent         Standard         PayPal   Processing
4    Chocolate        Bad         Standard           Cash      Shipped

   Ratings           products
0      5.0     Cycling shorts
1      4.0         Lenovo Tab
2      2.0   Sports equipment
3      4.0      Utility knife
4      1.0  Chocolate cookies

[5 rows x 30 columns]

In [333]:

# Step 5: Convert categorical columns to numerical
label_encoder = LabelEncoder()

# Example: Encoding 'Payment_Method' column
df['Payment_Method_Encoded'] = label_encoder.fit_transform(df['Payment_Method'])

# Encoding 'Income' column (Low, Medium, High -> 0, 1, 2)
df['Income_Encoded'] = label_encoder.fit_transform(df['Income'])


print("\nStep 5: After Label Encoding 'Payment_Method' and 'Income'")
print(df[['Payment_Method', 'Income']].head())

Step 5: After Label Encoding 'Payment_Method' and 'Income'
  Payment_Method Income
0     Debit Card    Low
1    Credit Card    Low
2    Credit Card    Low
3         PayPal   High
4           Cash    Low

In [334]:

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform
df['Payment_Method_Encoded'] = label_encoder.fit_transform(df['Payment_Method'])

# Show original category alongside encoded value
print(df[['Payment_Method', 'Payment_Method_Encoded']].drop_duplicates())

  Payment_Method  Payment_Method_Encoded
0     Debit Card                       2
1    Credit Card                       1
3         PayPal                       3
4           Cash                       0

In [335]:

# One-Hot Encoding for 'Product_Category'
df = pd.get_dummies(df, columns=['Product_Category'], drop_first=True)

print("\nStep 5 (Part 2): After One-Hot Encoding 'Product_Category'")
print(df.head())

Step 5 (Part 2): After One-Hot Encoding 'Product_Category'
   Transaction_ID  Customer_ID                 Name                Email  \
0       8691788.0      37249.0  Michelle Harrington    Ebony39@gmail.com
1       2174773.0      69749.0          Kelsey Hill     Mark36@gmail.com
2       6679610.0      30192.0         Scott Jensen    Shane85@gmail.com
3       7232460.0      62101.0        Joseph Miller     Mary34@gmail.com
4       4983775.0      27901.0        Debra Coleman  Charles30@gmail.com

          Phone                      Address        City            State  \
0  1.414787e+09            3959 Amanda Burgs    Dortmund           Berlin
1  6.852900e+09           82072 Dawn Centers  Nottingham          England
2  8.362160e+09            4133 Young Canyon     Geelong  New South Wales
3  2.776752e+09  8148 Thomas Creek Suite 100    Edmonton          Ontario
4  9.098268e+09    5813 Lori Ports Suite 269     Bristol          England

   Zipcode    Country  ...  Payment_Method Order_Status Ratings  \
0  77985.0    Germany  ...      Debit Card      Shipped     5.0
1  99071.0         UK  ...     Credit Card   Processing     4.0
2  75929.0  Australia  ...     Credit Card   Processing     2.0
3  88420.0     Canada  ...          PayPal   Processing     4.0
4  48704.0         UK  ...            Cash      Shipped     1.0

            products Payment_Method_Encoded  Income_Encoded  \
0     Cycling shorts                      2               1
1         Lenovo Tab                      1               1
2   Sports equipment                      1               1
3      Utility knife                      3               0
4  Chocolate cookies                      0               1

  Product_Category_Clothing Product_Category_Electronics  \
0                      True                        False
1                     False                         True
2                     False                        False
3                     False                        False
4                     False                        False

   Product_Category_Grocery  Product_Category_Home Decor
0                     False                        False
1                     False                        False
2                     False                        False
3                     False                         True
4                      True                        False

[5 rows x 35 columns]

In [336]:

# Step 6: Normalize numerical features (Scale Age, Amount, etc.)
scaler = MinMaxScaler()
numeric_columns = ['Age', 'Total_Purchases', 'Amount', 'Total_Amount', 'Ratings']

df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

print("\nStep 6: After Normalizing Numeric Columns")
print(df[numeric_columns].head())

Step 6: After Normalizing Numeric Columns
        Age  Total_Purchases    Amount  Total_Amount  Ratings
0  0.057692         0.222222  0.200059      0.062947     1.00
1  0.019231         0.111111  0.802766      0.159672     0.75
2  0.576923         0.222222  0.703018      0.211124     0.25
3  0.730769         0.666667  0.698794      0.492392     0.75
4  0.076923         0.111111  0.233218      0.047809     0.00

In [337]:

# Step 7: Save the cleaned dataset
cleaned_file_path = "cleaned_retail_data.csv"
df.to_csv(cleaned_file_path, index=False)

In [338]:

print("\nData Cleaning Completed! Saved as 'cleaned_retail_data.csv'")
print("\nFinal Cleaned Data Preview:")
print(df.head())

Data Cleaning Completed! Saved as 'cleaned_retail_data.csv'

Final Cleaned Data Preview:
   Transaction_ID  Customer_ID                 Name                Email  \
0       8691788.0      37249.0  Michelle Harrington    Ebony39@gmail.com
1       2174773.0      69749.0          Kelsey Hill     Mark36@gmail.com
2       6679610.0      30192.0         Scott Jensen    Shane85@gmail.com
3       7232460.0      62101.0        Joseph Miller     Mary34@gmail.com
4       4983775.0      27901.0        Debra Coleman  Charles30@gmail.com

          Phone                      Address        City            State  \
0  1.414787e+09            3959 Amanda Burgs    Dortmund           Berlin
1  6.852900e+09           82072 Dawn Centers  Nottingham          England
2  8.362160e+09            4133 Young Canyon     Geelong  New South Wales
3  2.776752e+09  8148 Thomas Creek Suite 100    Edmonton          Ontario
4  9.098268e+09    5813 Lori Ports Suite 269     Bristol          England

   Zipcode    Country  ...  Payment_Method Order_Status Ratings  \
0  77985.0    Germany  ...      Debit Card      Shipped    1.00
1  99071.0         UK  ...     Credit Card   Processing    0.75
2  75929.0  Australia  ...     Credit Card   Processing    0.25
3  88420.0     Canada  ...          PayPal   Processing    0.75
4  48704.0         UK  ...            Cash      Shipped    0.00

            products Payment_Method_Encoded  Income_Encoded  \
0     Cycling shorts                      2               1
1         Lenovo Tab                      1               1
2   Sports equipment                      1               1
3      Utility knife                      3               0
4  Chocolate cookies                      0               1

  Product_Category_Clothing Product_Category_Electronics  \
0                      True                        False
1                     False                         True
2                     False                        False
3                     False                        False
4                     False                        False

   Product_Category_Grocery  Product_Category_Home Decor
0                     False                        False
1                     False                        False
2                     False                        False
3                     False                         True
4                      True                        False

[5 rows x 35 columns]